/* Global styles */

body {
    background: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 100vh;
    margin: 0;
}

#root {
    display: flex;
    height: 100%;
    flex-direction: column;
}

header, footer {
    margin: 2em;
}

#header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home-link {
    font-size: 24px;
}

#home-link.active {
    text-decoration: none;
}

#column-links {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

a.active {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    overflow: auto;
    width: 100%;
}

section {
    height: fit-content;
}

h1 {
    font-size: 16px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.margin-top-zero {
    margin-top: 0;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    width: 100%;
}

ol {
    padding-inline-start: 1em;
}

ol > li {
    padding-left: 1.5em;
}

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-size: 30px;
    outline: inherit;
    padding: 0;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#footer-nav > a {
    font-size: 12px;
    margin-right: 5em;
}

/* Loading animation styles from https://loading.io/css/ */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* About styles*/

#about > * {
    max-width: 740px;
    width: 40%;
}

#about > section section {
    margin-bottom: 2em;
}

/* Design styles */

#design > * {
    max-width: 500px;
}

#image-input {
    height: 0;
    visibility: hidden;
    width: 0;
}

#design-tool {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#canvas-label-container {
    position: relative;
}

#image-input-label {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

#image-input-text {
    margin-bottom: 6em;
}

canvas {
    height: 500px;
    width: 500px;
}

#zoom {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 450px;
}

#zoom-controls {
    flex-direction: row;
}

.zoom-button {
    width: 50px;
}

#instructions {
    margin-top: 2em;
}

.action-button {
    border: white solid 1px;
    border-radius: 50px;
    font-size: 16px;
    margin-left: calc(50% - 50px);
    margin-top: 10%;
    pointer-events: none;
    height: 100px;
    width: 100px;
}

.action-button.available {
    color: black;
    background: white;
    pointer-events: all;
}

.action-button.lds-dual-ring {
    border: none;
}

#go-to-gallery {
    padding-top: 1em;
}

input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

input:focus {
    outline: none;
}

.text-input-label-pair {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

#instagram-input {
    margin-bottom: 1.5em;
}
#instagram-at {
    margin-right: 1em;
}

/* Slider styles generated with Daniel Stern's range.css tool (http://danielstern.ca/range.css/?ref=css-tricks#/) */

input[type=range] {
    width: 350px;
    margin: 5px 0;
    background-color: transparent;
    -webkit-appearance: none;
    padding-bottom: 9px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #808080;
    border: 0.2px solid #010101;
    border-radius: 3px;
    width: 100%;
    height: 2px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    margin-top: -5.2px;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #858585;
}
input[type=range]::-moz-range-track {
    background: #808080;
    border: 0.2px solid #010101;
    border-radius: 3px;
    width: 100%;
    height: 2px;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
}
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
    width: 100%;
    height: 2px;
    cursor: pointer;
}
input[type=range]::-ms-fill-lower {
    background: #7b7b7b;
    border: 0.2px solid #010101;
    border-radius: 6px;
}
input[type=range]::-ms-fill-upper {
    background: #808080;
    border: 0.2px solid #010101;
    border-radius: 6px;
}
input[type=range]::-ms-thumb {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0;
    /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
    background: #808080;
}
input[type=range]:focus::-ms-fill-upper {
    background: #858585;
}

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

/* Small screen width styles for design tool area */

@media only screen and (max-width: 500px) {
    #design > * {
        max-width: 360px;
    }

    canvas {
        height: 360px;
        width: 360px;
    }

    #zoom {
        width: 324px;
    }

    input[type=range] {
        width: 210px;
    }

    #instructions {
        margin: 2em;
    }

    input[type="text"] {
        max-width: 160px;
    }
}

/* Gallery styles */

#gallery li {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

#gallery li > img {
    max-width: 100%;
}

#gallery li > p {
    margin: 0;
}