/* Global styles */

body {
    background: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 100vh;
    margin: 0;
}

#root {
    display: flex;
    height: 100%;
    flex-direction: column;
}

header, footer {
    margin: 2em;
}

#header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home-link {
    font-size: 24px;
}

#home-link.active {
    text-decoration: none;
}

#column-links {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

a.active {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    overflow: auto;
    width: 100%;
}

section {
    height: fit-content;
}

h1 {
    font-size: 16px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.margin-top-zero {
    margin-top: 0;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    width: 100%;
}

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-size: 30px;
    outline: inherit;
    padding: 0;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#footer-nav > a {
    font-size: 12px;
    margin-right: 5em;
}

.hidden {
    visibility: hidden;
}

/* Loading animation styles from https://loading.io/css/ */

.lds-dual-ring {
    display: inline-block;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
    Image fade styles modified from stack overflow user vals' answer for 'Cross fade between images with CSS in loop':
    https://stackoverflow.com/a/17976033
    Licensed under CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0/legalcode)
 */

.fadein {
    height: 500px;
    position: relative;
    width: 500px;
}

#attract-link {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#attract-link > span {
    font-size: 20px;
    margin-bottom: 4em;
    /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}

.fadein img {
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    height: 100%;
    position: absolute;
    width: 100%;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f2 {
    -webkit-animation-delay: -15s;
}
#f3 {
    -webkit-animation-delay: -10s;
}
#f4 {
    -webkit-animation-delay: -5s;
}

/* About styles*/

#about > * {
    height: 555px;
    width: 500px;
}

#about > section img {
    width: 100%;
}

#about-text > section {
    margin: 1em 0 2em;
}

/* Design styles */

#design > * {
    width: 500px;
}

#image-input {
    height: 0;
    visibility: hidden;
    width: 0;
}

#design-tool {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#canvas-label-container {
    height: 500px;
    position: relative;
    width: 500px;
}

#image-input-label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

#image-input-text {
    margin-bottom: 6em;
}

canvas {
    height: 500px;
    width: 500px;
}

#zoom {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 450px;
}

#zoom-controls {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.zoom-button {
    width: 50px;
}

#instructions {
    margin-top: 1em;
}

.action-button {
    border: white solid 1px;
    border-radius: 50px;
    font-size: 16px;
    margin-left: calc(50% - 50px);
    margin-top: 10%;
    pointer-events: none;
    height: 100px;
    width: 100px;
}

.action-button.available {
    color: black;
    background: white;
    pointer-events: all;
}

.action-button.lds-dual-ring {
    border: none;
}

#go-to-gallery {
    padding-top: 1em;
}

input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

input:focus {
    outline: none;
}

.text-input-label-pair {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

#instagram-input {
    margin-bottom: 1.5em;
}
#instagram-at {
    margin-right: 1em;
}

/* Slider styles generated with Daniel Stern's range.css tool (http://danielstern.ca/range.css/?ref=css-tricks#/) */

input[type=range] {
    width: 350px;
    margin: 5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #808080;
    border: 0.2px solid #010101;
    border-radius: 3px;
    width: 100%;
    height: 2px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    margin-top: -5.2px;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #858585;
}
input[type=range]::-moz-range-track {
    background: #808080;
    border: 0.2px solid #010101;
    border-radius: 3px;
    width: 100%;
    height: 2px;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
}
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
    width: 100%;
    height: 2px;
    cursor: pointer;
}
input[type=range]::-ms-fill-lower {
    background: #7b7b7b;
    border: 0.2px solid #010101;
    border-radius: 6px;
}
input[type=range]::-ms-fill-upper {
    background: #808080;
    border: 0.2px solid #010101;
    border-radius: 6px;
}
input[type=range]::-ms-thumb {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0;
    /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
    background: #808080;
}
input[type=range]:focus::-ms-fill-upper {
    background: #858585;
}

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

/* Gallery styles */

#kimonos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
}

.kimono {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 2em 2em 2em;
    width: 360px;
}

.kimono > img {
    height: 360px;
    width: 360px;
}

.kimono > p {
    margin: 0;
}

.loading {
    display: none;
}

.infinite-scroll-status-area {
    display: flex;
    justify-content: center;
    width: 80vw;
}

/* Narrow screen styles */

@media only screen and (max-width: 500px) {
    #design > * {
        width: 360px;
    }

    #about > * {
        height: auto;
        min-height: 360px;
        width: 360px;
    }

    canvas, #canvas-label-container, .fadein {
        height: 360px;
        width: 360px;
    }

    #zoom {
        width: 324px;
    }

    input[type=range] {
        width: 210px;
    }

    #instructions {
        margin: 2em;
    }

    #about-text {
        margin: 0 2em 2em 2em;
    }

    input[type="text"] {
        max-width: 160px;
    }

    .kimono {
        margin: 0 0 2em 0;
    }

    header {
        margin: 1em;
    }

    #home-link {
        font-size: 20px;
    }

    #column-links {
        font-size: 14px;
    }

    #attract-link > span {
        font-size: 16px;
    }

    footer {
        margin: 1em;
    }

}

@media only screen and (max-width: 320px) {
    #column-links {
        font-size: 10px;
    }

    #footer-nav > a {
        font-size: 10px;
    }

    input[type="text"] {
        max-width: 120px;
    }

    main {
        overflow-x: hidden;
    }
}
