/* Global */

a {
    color: white;
    text-decoration: none;
}

a.active {
    text-decoration: underline;
}

body {
    background: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 100vh;
    margin: 0;
}

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: inherit;
    padding: 0;
}

h1 {
    font-size: 16px;
    margin-block-end: 0;
    margin-block-start: 0;
}

header, footer {
    margin: 2em;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    overflow: auto;
    width: 100%;
}

section {
    height: fit-content;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    width: 100%;
}

#column-links {
    display: flex;
    flex-direction: column;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#footer-nav > a {
    font-size: 12px;
}

#header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home-link {
    font-size: 24px;
}

#home-link.active {
    text-decoration: none;
}

#root {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.margin-top-zero {
    margin-top: 0;
}

/* Loading animation from https://loading.io/css/ */

.lds-dual-ring {
    display: inline-block;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Home page attract animation */

#attract-link {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#attract-link > span {
    font-size: 20px;
    margin-bottom: 4em;
}

#gradient-container {
    background-size: 200% 100%;
    height: 500px;
    position: relative;
    width: 500px;
}

#gradient-container > img {
    height: 100%;
    width: 100%;
}

@media (pointer:coarse) {
    #gradient-container {
        -webkit-animation-name: gradient;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-duration: 20s;
        animation-name: gradient;
        animation-iteration-count: infinite;
        animation-duration: 20s;
    }

    #gradient-container.loaded {
        background-image: -webkit-linear-gradient(45deg, #FC354C, #6E48AA, #24FE41, #FDFC47);
        background-image: linear-gradient(45deg, #FC354C, #6E48AA, #24FE41, #FDFC47);
    }
}

@-webkit-keyframes gradient {
    0% { background-position: -15% 50%; }
    50% { background-position: 100% 50% }
    100% { background-position: -15% 50%;}
}

@keyframes gradient {
    0% { background-position: -15% 50%; }
    50% { background-position: 100% 50% }
    100% { background-position: -15% 50%;}
}

/* About styles*/

#about > * {
    height: 555px;
    width: 500px;
}

#about > section img {
    width: 100%;
}

#about-text > section {
    margin: 1em 0 2em;
}

/* Design styles */

canvas {
    height: 500px;
    width: 500px;
}

input:focus {
    outline: none;
}

input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

#canvas-label-container {
    height: 500px;
    position: relative;
    width: 500px;
}

#canvas-label-container.locked {
    pointer-events: none;
}

#design > * {
    width: 500px;
}

#design-tool {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#go-to-gallery {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image-input {
    height: 0;
    visibility: hidden;
    width: 0;
}

#image-input-label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

#image-input-text {
    margin-bottom: 6em;
}

#instagram-input {
    margin-bottom: 1.5em;
}

#instagram-at {
    margin-right: 1em;
}

#instructions {
    margin-top: 1em;
}

#zoom {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 450px;
}

#zoom-controls {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.action-button {
    border: white solid 1px;
    border-radius: 50px;
    font-size: 16px;
    margin-left: calc(50% - 50px);
    margin-top: 10%;
    pointer-events: none;
    height: 100px;
    width: 100px;
}

.action-button.available {
    color: black;
    background: white;
    pointer-events: all;
}

.action-button.lds-dual-ring {
    border: none;
}

.text-input-label-pair {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.zoom-button {
    font-size: 30px;
    padding-bottom: 2px;
    width: 50px;
}

/* Slider styles generated with Daniel Stern's range.css tool (http://danielstern.ca/range.css/?ref=css-tricks#/) */

input[type=range] {
    width: 350px;
    margin: 5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #808080;
    width: 100%;
    height: 2px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    margin-top: -5.2px;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #858585;
}
input[type=range]::-moz-range-track {
    background: #808080;
    border: 0.2px solid #010101;
    border-radius: 3px;
    width: 100%;
    height: 2px;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
}
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
    width: 100%;
    height: 2px;
    cursor: pointer;
}
input[type=range]::-ms-fill-lower {
    background: #7b7b7b;
    border: 0.2px solid #010101;
    border-radius: 6px;
}
input[type=range]::-ms-fill-upper {
    background: #808080;
    border: 0.2px solid #010101;
    border-radius: 6px;
}
input[type=range]::-ms-thumb {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0;
    /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
    background: #808080;
}
input[type=range]:focus::-ms-fill-upper {
    background: #858585;
}

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

/* Gallery styles */

#chevron-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

#chevron-container > button {
    height: fit-content;
    margin-top: 29%;
}

#gallery-controls {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: -10%;
    position: absolute;
    top: 0;
    width: 120%;
}

#gallery-controls button {
    display: flex;
    font-size: 30px;
}

#gallery-controls button:hover {
    opacity: 0.5;
}

#gallery-controls > button {
    align-self: flex-end;
    width: fit-content;
    width: -moz-fit-content;
}

#kimonos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
}

#kimonos.maximised {
    display: block;
    position: relative;
}

.infinite-scroll-status-area {
    display: flex;
    justify-content: center;
    width: 80vw;
}

.kimono {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 0 2em 2em 2em;
    width: 360px;
}

.kimono.maximised {
    margin: 0;
    width: auto;
}

.kimono.maximised > img {
    height: 500px;
    width: 500px;
}

.kimono > img {
    height: 360px;
    width: 360px;
}

.kimono > p {
    margin: 0;
}

.loading {
    display: none;
}

/* Narrow screen styles */

@media screen and (max-width: 600px), screen and (max-height: 600px) {
    .kimono {
        cursor: auto;
    }
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
    canvas, #canvas-label-container, #gradient-container, #about > section, #about > section > img {
        height: 360px;
        width: 360px;
    }

    footer {
        margin: 1em;
    }

    header {
        margin: 1em;
    }

    input[type=range] {
        width: 210px;
    }

    input[type="text"] {
        max-width: 160px;
    }

    #about-text {
        margin: 0 2em 2em 2em;
    }

    #attract-link > span {
        font-size: 16px;
    }

    #column-links {
        font-size: 14px;
    }

    #design > * {
        width: 360px;
    }

    #home-link {
        font-size: 20px;
    }

    #instructions {
        margin: 1em 2em 2em 2em;
    }

    #scroll-button > * {
        height: 100%;
        width: 100%;
    }

    #scroll-button {
        background: white;
        border-radius: 10px;
        color: black;
        display: flex;
        height: 20px;
        width: 20px;
    }

    #scroll-button-overlay {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: center;
        margin: auto;
        position: absolute;
        width: 100%;
    }

    #zoom {
        width: 324px;
    }

    .kimono {
        margin: 0 0 2em 0;
    }

}

@media only screen and (max-width: 320px) {
    input[type="text"] {
        max-width: 120px;
    }

    main {
        overflow-x: hidden;
    }

    #column-links {
        font-size: 10px;
    }

    #footer-nav > a {
        font-size: 10px;
    }
}
